.table{
    h2{
        text-align: center;
        padding: 1em;
    }
    table,th,td{
        border: 1px solid #d9dfe0;
    }
    table{
        width: 100%;
        font-size: 14px;
        vertical-align: middle;
        color: #6b797a;
        td{
            vertical-align: middle;
            line-height: 1.3;
            padding: 1.2em;
        }
    }
    thead{
        background-color: #88dd9b;
        font-weight: 600;
        color: #384647;
        tr>td:nth-child(1){
            min-width:100px
        }
        
    }
}

.table-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}

// 图片样式

.picture{
    width: 100%;
    height: 0;
    padding-bottom: 85%;
    position: relative;

    .img{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: -3px 10px 90px -20px #00000024;
    }
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
    @include smaller-than-tablet {
        .img{
            max-width: 400px;
            max-height: 350px;
        }


    }
}

.big_box{
    position: absolute;
    top: 210px;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 100%;
    height: auto;
    background-color: #98f5945c;
}

.detal_img{
    // border: 1px solid red ;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.box{
    height: 100%;
    background-color: #e8fbe57d;
    display: flex;
    align-items: center;
    border-radius: 3%;
}
.thum-list{
    // padding: 3px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// view content 的布局思路：
// 以 content 宽度为核心，利用子元素padding的百分比是content元素宽度的原理做出弹性布局

.view_content{
    width: 100%;
    position: relative;
    top: -30px;
    &::after{
        content: '';
        display: block;
        margin-top: 100%;
    }
    @include smaller-than-tablet {
        max-width: 400px; 
        max-height: 400px;
        &::after{
            margin-top: 400px;
        }
    }
  
    .view_box{
        position: absolute;
        height: 100%;
        width: 100%;
        padding-bottom: 15%;
        .view_picture{
            padding: 5px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            box-shadow: -72px 36px 56px #00000024;
            border-radius: 8px;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
      
        
      
    }

  .small_picture{
      width: 100%;
      height: 15%;
      position: absolute;
      bottom: 0;   
      left: 0;   
      &::before{
        content: '<';
        position: absolute;
        left: 5%;
        top: 6%;
        height: 90%;
        width: 14px;
        text-align: center;
        box-sizing: border-box;
        font-size: 22px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: black;
        outline: 1px solid red;
        outline-offset: -2px;
    }
    &::after{
        content: '>';
        position: absolute;
        right: 5%;
        top: 6%;
        height: 90%;
        width: 14px;
        text-align: center;
        box-sizing: border-box;
        font-size: 22px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: black;
        outline: 1px solid red;
        outline-offset: -2px;
    }
      ul{
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;
        li{
            border:1px solid red;
            // width: 16%;
            flex: 0 0 16.6%;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            &::after{
                content: '';
                display: block;
                margin-top: 100%;
            }
            // border: 1px solid #88dd9b;
            cursor: pointer;
            .img_box{
                padding: 5px;
                border: 2px solid #0000ff00;
                border-top: 0;
                border-bottom: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                background-clip: padding-box;
                img{
                    max-height: 100%;
                    max-height: 100%;
                }
            }
            .img_active{
                border: 2px solid #88dd9b;
            }

           
            // &::after{
            //     position: absolute;
            //     right: 0px;
            //     content: '>';
            //     width: 10px;
            //     font-size: 22px;
            //     height: 100%;
            //     display: flex;
            //     align-items: center;
            //     cursor: pointer;
            //     border:1px solid #88dd9b;
            //     border-radius: 8% 0 0 8%;
            //     color: black;
            // }
      }
      
    }

   
  }
   
}


.item{
    display: flex;
    padding: 0 15px;
    position: relative;
    &::before{
        position: absolute;
        left: 0px;
        content: '<';
        width: 10px;
        font-size: 22px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        border:1px solid #88dd9b;
        border-radius: 8% 0 0 8%;
        color: black;
    }
    &::after{
        position: absolute;
        right: 0px;
        content: '>';
        width: 10px;
        font-size: 22px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        border:1px solid #88dd9b;
        border-radius: 8% 0 0 8%;
        color: black;
    }
    li{
        width: 30%;
        border: 1px solid #88dd9b;
        margin-right: 2px;
        max-width: 70px;
        max-height: 60px;
        cursor: pointer;
        
    }

    .img_active{
        border: 2px solid #88dd9b;
    }
}